#todoView #todoForm {
    margin: 10px 0 10px 0;
}

#todoView #todoText {
   height: 48px;
   font-size: 18px;
   width: 80%;
}
#todoView #todoButton {
   height: 48px;
   font-size: 18px;
}
#todoView .dot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}