#todoView #todoText {
   height: 36px;
   font-size: 18px;
   padding: 0px 0px 0px 15px;
   margin: 5px 0px 5px 5px;
   width: 78%;
}
#todoView #todoButton {
   font-size: 42px;
   line-height: 18px;
   padding: 8px 0px;
   margin: 5px 10px 0px 0px;
   position: absolute;
}