<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="components/font-awesome/font-awesome.css" />
    <link rel="stylesheet" href="components/jqmobi/jq.ui.css" title="default" />

    <link rel="stylesheet" href="styles/bootstrap.css" /> 
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app>  
    <!-- Your app lives inside a div called "UI" -->
    <div id="jQUi"> 
        <!-- TODO: use phonegap splashscreen or jq.ui's -->
        <!-- This is header at the top -->
        <div id="header" class="padded"> 
            <a class="icon big magnifier pull-right" style="display:none"></a>
            <a class="icon big icon-shopping-cart"></a>
        </div>
            <!-- The content div is where all your panels live. -->
        <div id="content"> 
            <!-- Panels are the individual pages/content area for your app -->
            <div ng-controller="MainCtrl" title="Asistan" id="main" class="panel padded" selected="true">
                

                 <h3>Hoşgeldiniz efendim</h3>
                <p class="lead">Hesaplı bir alışveriş için size rehberlik etmeye hazırım.
                Siz de hazırsanız aşağıdan <strong class="text-info">oku</strong> ya basarak ürününüzün
                barkodunu okutabilirsiniz.</p>

            </div>






            <div ng-controller="ProductCtrl" title="Sonuçlar" id="results" class="panel">

                <div id="product" class="padded">
                    <img id="productImage" src={{productInfo.imageSrc}} class="img-rounded" />
                    <h4 id="productName">{{productInfo.name}}</h4>
                    <p>  </p>
                </div>

                <div class="padded"> <h3> Fiyatlar </h3> </div>
                <ul id="prices">
                    <li ng-repeat="price in prices"><a>
                       {{price.chainName}} 
                       <i class="muted"> - {{price.branchName}}</i>
                       <i class="pull-right price">{{price.price}} TL</i>
                       <b ng-show="price.here" class="icon location big pull-right"></b>
                    </a></li>
                </ul>
            </div>





            <div ng-controller="TodoCtrl" title="Alışveriş Listesi" id="todo" class="panel">
                <form ng-submit="addTodo()">
                    <input type="text" ng-model="todoInput" class="jq-ui-forms"  size="30"placeholder="Ürünleri giriniz">
                    <input type="submit" class="button" value="Ekle">
                </form>
                <ul id="prices">
                    <li ng-repeat="todo in todos"><a>
                        {{todo.text}} 
                        <b id="close" class="icon icon-remove big pull-right price" ng-click="removeTodo(todo)"></b>
                    </a></li>
                </ul>
            </div>




        </div>

        

        <!-- The footer (bottom navbar).  Add additional tabs here
        The footer is a persistant navugation bar at the bottom -->
        <div id="navbar">
            <a id="main" class="icon icon-tag" href="#main" data-transition="fade">İNDİRİM</a>
            <a id="scan" class="icon icon-camera" href="#results" data-transition="fade">OKU</a>
            <a id="todo" class="icon icon-list-ul" href="#todo" data-transition="fade">LİSTE</a>
        </div>

    </div>

    <script src="phonegap.js"></script>
    <script src="barcodescanner.js"></script>
    <script src="components/jqmobi/jq.mobi.min.js"></script>
    <script src="components/jqmobi/jq.ui.min.js"></script>
    <script src="components/jqmobi/jq.desktopBrowsers.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <!-- build:js scripts/scripts.js -->
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/Todo.js"></script>
    <script src="scripts/controllers/Product.js"></script>
    <!-- endbuild -->
  </body>
</html>
