<div id="todoView">

    <form ng-submit="addTodo()" class="padded" id="todoForm">
        <input type="text" id="todoText" ng-model="todoInput" class="input-xlarge" placeholder="Ürünleri giriniz">
        <button type="submit" id="todoButton" class="btn btn-large pull-right"> <i class="icon-plus icon-large"></i></button>
    </form>
    <ul class="list">
        <li ng-repeat="todo in todos"><a>
            {{todo.text}}
            <b id="close" class="icon icon-remove big pull-right" ng-tap="removeTodo($index)"></b>
        </a></li>
    </ul>

</div>
